// colors
$color-button-primary: #4ccce6b8;
$color-button-secondary: #9eb1ffb8;
$color-primary: #4958c6f5;
$color-green: #007c65fa;

$color-text-muted: #1c20248a; // 54%
$color-text-secondary: #1c2024b8; //72%

// fonts
$font-fira: 'Fira Sans Condensed', sans-serif;
